---
layout: base
title: 首页
---

<!-- 首页或者分类或者标签页面的模板 -->
<main class="main" role="main">
	<div class="rslides_container">
		{% include rslides.html %}
	</div>
	<div class="clear"></div>
	
	<!-- 文章列表开始 -->
	{% for post in paginator.posts %}
	<article class="post">
		<div class="thumb">
			{% capture tagIdx %}{{ post.tag | first }}{% endcapture %}
			<a href="{{site.url}}{{ post.url }}" title="{{ post.title }}" target="_blank">
		    {% if site.logo_list[tagIdx] %}
			<img alt="{{ post.title }}" src='{{site.logo_list[tagIdx]}}'/>
		    {% else %}
			<img alt="{{ post.title }}" src='{{site.resource_url}}/public/images/no-image.png'/>
		    {% endif %}
				
			</a>
		</div>
		<span class="post-cat">
			<a href="{{site.url}}/categories.html?cat={{post.categories}}" title="查看 {{post.categories}} 中的全部文章" target="_blank">{{post.categories}}</a>
		</span>
		<h2>
			<a href="{{site.url}}{{ post.url }}" title="{{ post.title }}" target="_blank" title="{{ post.title }}" >{{ post.title }}</a>
		</h2>
		<div class="entry loop-entry">
			<p>
			{% if post.content contains "<!-- more -->" %}
				{{ post.content | split:"<!-- more -->" | first }}
			{% else %}
				{{ post.excerpt | strip_html | truncatewords:100 }}
			{% endif %}
			</p>
		</div>
		<div class="postmeta">
			<span><i class="icon-calendar"></i> 日期：{{ post.date | date:"%Y-%m-%d" }} </span>
			<span><i class="icon-signin"></i> <a href="{{site.url}}{{ post.url }}">阅读全文</a></span>
			<!--
			<span><i class="icon-fire"></i> 浏览：204次</span>
			<span><i class="icon-comments"></i> 评论：0条</span>
		    -->
		</div>
	</article>
	{% endfor %}
	<!-- 文章列表结束 -->

	<div class="pagenavi">
    {% if paginator.previous_page %}
	    {% if paginator.previous_page == 1 %}
	    	<a href="/"><span class="page"><<</span></a>
	    {% else %}
	    	<a href="/page{{paginator.previous_page}}"><span class="page"><<</span></a>
	    {% endif %}
    {% else %}
	    <a href="/"><span class="page"><<</span></a>
    {% endif %}

    {% if paginator.page == 1 %}
    	<span class="page now-page">1</span>
    {% else %}
    	<a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
	    {% if count == paginator.page %}
	    	<span class="page now-page">{{count}}</span>
	    {% else %}
	    	<a href="/page{{count}}">{{count}}</a>
	    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    	<a href="/page{{paginator.next_page}}">>></a>
    {% else %}
    	<a href="/"><span class="page">>></span></a>
    {% endif %}
	</div>
</main>

<aside class="sidebar">	
{% include sidebar.html %}
</aside>