<div class="header fixed">
		<div class="top-box">
			<div class="logo">
				<a href="{{site.url}}" title="莲花乡-十里屯">
					<img src="{{site.resource_url}}/public/images/logo.png" alt="莲花乡-十里屯">
				</a>
			</div>
			<div class="btn"><i class="icon-th-large"></i></div>		
			<nav class="nav" role="navigation">
				<div class="menu">
					<ul>
						<li id="nvabar-index"><a href="{{site.url}}">首页</a></li>
						<li id="navbar-technology"><a href="http://ui66.com/category-2.html">技术文章</a></li>
						<li id="navbar-life"><a href="http://ui66.com/category-4.html">生活日记</a></li>
						<li id="navbar-about"><a href="http://ui66.com/7.html">关于我</a></li>
					</ul>
				</div>
			</nav>
		</div>
<div class="clear"></div>