<div class="header fixed">
		<div class="top-box">
			<div class="logo">
				<a href="{{site.url}}" title="莲花乡-十里屯">
					<img src="{{site.resource_url}}/public/images/logo.png" alt="莲花乡-十里屯">
				</a>
			</div>
			<div class="btn"><i class="icon-th-large"></i></div>		
			<nav class="nav" role="navigation">
				<div class="menu">
					<ul>
						<li id="nvabar-index"><a href="{{site.url}}">首页</a></li>
						<li id="navbar-technology"><a href="{{site.url}}/categories.html?cat=技术文章">技术文章</a></li>
						<li id="navbar-life"><a href="{{site.url}}/categories.html?cat=生活日志">生活日志</a></li>
						<li id="navbar-about"><a href="{{site.url}}/pages/about.html">关于我</a></li>
					</ul>
				</div>
			</nav>
		</div>
<div class="clear"></div>