<!-- 幻灯片播放页面   -->
<ul class="rslides centered-btns centered-btns1" id="slider">
	<li id="centered-btns1_s0" class="centered-btns1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
		<a href="http://ui66.com/" target="_blank" title="这是标题">
			<img src="http://ui66.com/zb_users/theme/start/style/images/slider/1.jpg" alt="这是标题">
		</a>
	</li>
	<li id="centered-btns1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
		<a href="http://ui66.com/" target="_blank" title="这是标题">
			<img src="http://ui66.com/zb_users/theme/start/style/images/slider/2.jpg" alt="这是标题">
		</a>
	</li>
	<li id="centered-btns1_s2" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
		<a href="http://ui66.com/" target="_blank" title="这是标题">
			<img src="http://ui66.com/zb_users/theme/start/style/images/slider/3.jpg" alt="这是标题">
		</a>
	</li>
</ul>