<!-- 幻灯片播放页面   -->
<ul class="rslides centered-btns centered-btns1" id="slider">
	<li id="centered-btns1_s0" class="centered-btns1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
		<a href="{{site.url}}" target="_blank" title="演示图片-等有相应专栏文章时再替换">
			<img src="{{site.resource_url}}/public/images/slider/1.jpg" />
		</a>
	</li>
	<li id="centered-btns1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
		<a href="{{site.url}}/categories.html?cat=投资札记" target="_blank" title="投资札记">
			<img src="{{site.resource_url}}/public/images/slider/2.jpg" />
		</a>
	</li>
	<li id="centered-btns1_s2" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
		<a href="{{site.url}}" target="_blank" title="演示图片-等有相应专栏文章时再替换">
			<img src="{{site.resource_url}}/public/images/slider/3.jpg" />
		</a>
	</li>
</ul>