<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="datochan">
<meta http-equiv="Content-Language" content="zh-CN" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
<meta name="description " content="{{page.description}}">
{% endif %}


<link rel="shortcut icon" type="image/x-icon" href="{{site.resource_url}}/public/images/favicon.ico" />

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
<script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js" type="text/javascript"></script>
<script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv-printshiv.min.js" type="text/javascript"></script>

<script src="//cdn.bootcss.com/jquery.lazyload/1.9.1/jquery.lazyload.min.js" type="text/javascript"></script>
<script src="//cdn.bootcss.com/ResponsiveSlides.js/1.54/responsiveslides.min.js" type="text/javascript"></script>
<script src="//cdn.bootcss.com/prettify/188.0.0/prettify.min.js" type="text/javascript"></script>

<script src="{{site.resource_url}}/public/js/leonhere.js" type="text/javascript"></script>
	
<link href="//cdn.bootcss.com/ResponsiveSlides.js/1.54/responsiveslides.css" type="text/css" rel="stylesheet" media="screen">
<link href="//cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen">
<link href="//cdn.bootcss.com/prettify/188.0.0/prettify.min.css" type="text/css" rel="stylesheet" media="screen">
<link href="{{site.resource_url}}/public/css/atelier-forest-light.min.css" type="text/css" rel="stylesheet" media="screen">
<link href="{{site.resource_url}}/public/css/leonhere.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{site.resource_url}}/public/css/style.css" rel="stylesheet" type="text/css" media="screen"/>

<!--[if IE 7]>
<link href="//cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" type="text/css" rel="stylesheet">
<![endif]-->

</head>
<body>
<header class="site-header" role="banner">
	{% include header.html %}
</header>
<div class="container">
<!-- 文章列表 或者 文章内容 -->
{{content}}

</div>
<footer class="footer">
	{% include footer.html %}
</footer>
<div class="backtop">
	<a title="反回顶部"><i class="icon-chevron-up"></i></a>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$(".post .thumb img,.entry img").lazyload({
  	  	placeholder : "{{site.resource_url}}/public/images/grey.gif", 
  	 	effect      : "fadeIn"
	});

	$("#slider").responsiveSlides({
		auto: true,
		pager: true,
		nav: false,
		speed: 500,
		timeout: 5000,
		namespace: "centered-btns"
	});

	// 点击文章目录时让滚动条缓慢滚动
	$("#scroll").on("click", "a", function() {
	    $('html, body').animate({
	        scrollTop: $( $.attr(this, 'href') ).offset().top - 120
	    }, 500);
	    return false;
	});

	// 启用代码高亮
    $("pre").addClass("prettyprint");
    prettyPrint();

});

</script>

{% if site.valine_comment.enable %}
<script src="//unpkg.com/valine/dist/Valine.min.js" type="text/javascript"></script>
<script type="text/javascript">
    new Valine({
        el: '#comments',
        app_id: '{{ site.valine_comment.leancloud_appid }}',
        app_key: '{{ site.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.valine_comment.placeholder }}'
    });
</script>
{% endif %}
	
	
	
</body>
</html>
